<!DOCTYPE html>
<html>
  <head>
    <title>Node JS Tkachuk Lab</title>
    <script type="text/javascript" src="clientLogic.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>