<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>E-Mail Client</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<h1>Logo</h1>
			<style>
				body 		{ padding-left:80px; }
			</style>
		</header>

		Hello <%=user.name%>

		<p><%=letter%></p>

		<footer></footer>
	</body>
</html>
