<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="tcal.css">
		<script type="text/javascript" src="tcal.js"></script>
		<title>Почта</title>
	</head>
	<body>
		<header>
			<h1>Logo</h1>
			<form>
			<input type="text" value="поиск" class="search">
				<div class="k">
					<select>
						<option value=".h2">.h2</option>
						<option value="ветка">ветка</option>
					</select>

				</div>
				<br>
				
					<select >
						<option value=".h2"></option>
						<option value=".h2">Все</option>
						<option value=".h2">Прочитанные</option>
						<option value="ветка">непрочитанные</option>
					</select>
				
				<input class="tt" type="button" value="Обновить">
				<input type="button" value="удалить">
			</form>
		</header>
		<section class="a">
			<nav>
				<ul>
					<li><a href="" class="np">написать</a></li>
					<li><a href="">Входящие</a></li>
					<li><a href="">Отправленные</a></li>
					<li><a href="">Черновики</a></li>
				</ul>
			</nav>
		</section>
		<section class="b">
			<div  class="cont">
				<div class="t1"> 
					<ul>
						<li class="f"><input type="checkbox"></li>
						<li class="f1">ветка</li>
						<li class="f2"><h2>text of h2</h2></li>
						<li class="f3">name</li>
						<li class="f4">data</li>
						<li class="f5" style="margin-left: 12px;"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<br>
				<div class="t2">
					<ul>
						<li class="r"><input type="checkbox"></li>
						<li class="r1">Тема</li>
						<li class="r2">отправитель</li>
						<li class="r3">дата</li>
						<li class="r4"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<div class="t1"> 
					<ul>
						<li class="f"><input type="checkbox"></li>
						<li class="f1">ветка</li>
						<li class="f2"><h2>text of h2</h2></li>
						<li class="f3">name</li>
						<li class="f4">data</li>
						<li class="f5" style="margin-left: 12px;"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<br>
				<div class="t2">
					<ul>
						<li class="r"><input type="checkbox"></li>
						<li class="r1">Тема</li>
						<li class="r2">отправитель</li>
						<li class="r3">дата</li>
						<li class="r4"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<div class="t1"> 
					<ul>
						<li class="f"><input type="checkbox"></li>
						<li class="f1">ветка</li>
						<li class="f2"><h2>text of h2</h2></li>
						<li class="f3">name</li>
						<li class="f4">data</li>
						<li class="f5" style="margin-left: 12px;"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<br>
				<div class="t2">
					<ul>
						<li class="r"><input type="checkbox"></li>
						<li class="r1">Тема</li>
						<li class="r2">отправитель</li>
						<li class="r3">дата</li>
						<li class="r4"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<div class="t1"> 
					<ul>
						<li class="f"><input type="checkbox"></li>
						<li class="f1">ветка</li>
						<li class="f2"><h2>text of h2</h2></li>
						<li class="f3">name</li>
						<li class="f4">data</li>
						<li class="f5" style="margin-left: 12px;"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
				<br>
				<div class="t2">
					<ul>
						<li class="r"><input type="checkbox"></li>
						<li class="r1">Тема</li>
						<li class="r2">отправитель</li>
						<li class="r3">дата</li>
						<li class="r4"><input type="text" name="date" class="tcal" value="" /></li>
					</ul>
				</div>
			
			
			</div>
		</section>
		<footer></footer>
	</body>
</html>